<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Create a New Job</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='/assets/fonts/fontawesome-all.min.css') }}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 navbar-dark">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Neural hire</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <form action="/redirecthandle" method="POST">
                        <li class="nav-item"><button class="btn nav-link" type="submit" name="home" value="confirm"><i class="fas fa-tachometer-alt"></i><span>Home</span></button></li>
                        <li class="nav-item"><button class="btn nav-link" type="submit" name="createnewjob" value="confirm"><i class="fas fa-user"></i><span>Create a new job</span></button></li>
                        <li class="nav-item"></li>
                        <li class="nav-item"><button class="btn nav-link text-light" type="submit " name="logout" value="confirm">Logout</button></li>
                    </form>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <h3 class="text-dark mb-1">Create a new job</h3>
                </div>
                <form action="/createnewjob" method="POST" enctype="multipart/form-data">
                    <label class="form-label">Job name:</label>
                    <input class="form-control" type="text" name="jobname">
                    <label class="form-label">Job Description:</label>
                    <input class="form-control" type="text" name="jobdescription">
                    <label class="form-label">Upload Resumes Zip File</label>
                    <input class="form-control" type="file" name="file">
                    <label class="form-label">The metrics you want for comparison:</label>
                    <textarea class="form-control" name="metrics"></textarea>
                    <button class="btn btn-primary" type="submit" name="createnewjobsubmit" value="confirm">Submit</button>
                </form>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Neural Hire2024</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/theme.js') }}"></script>
</body>

</html>